* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Fixed missing quatation marks for calibri on multiple font family attibutes for multiple classes */
.header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-family: 'Trebuchet MS';
    background-color: #2a607c;

}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}


/* Removed uneccessary style class for h1 tag*/

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
/* Removed useless extra fonts */
    font-family: 'Gill Sans';
    font-size: 20px;
}
/* added class for links to space them out */
.header nav a{
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* removed styling for a element and added to styling for header,nav,a */

p {
    font-size: 16px;
}

/* Gave a more correct name to header image styling */
.headerimage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Removed 9 classes and subclasses and created 1 new parent class with 2 subclasses*/
.benefitstyling {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefitstyling h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefitstyling img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Removed the float left and float right classes and created subclasses for each section */
/* removed img styling for max height and added the styling to img subclasses */
.search-engine-optimization img{
    float: left;
    margin-right: 25px;
    max-height: 200px;
}
.social-media-marketing img{
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.online-reputation-management img{
    float: right;
    margin-right: 25px;
    max-height: 200px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}




/* removed 3 styling sub classes and moved into one for h2 element */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
